.navbar {
    color: white;
    background-color: black;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    height: 6vw;
    position: sticky;
    top: 0;
}

.navbar h1 {
    margin-left: 20px;
}

.employeeLink {
    text-decoration: none;
    color: rgb(211, 211, 211);
    margin-left: auto;
    margin-right: 20px;
}

.shop {
    margin-top: 15px;
}

.popularTitle {
    text-align: center;
    font-size: xx-large;
}


.popularGames {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.popularGames img {
    height: 200px;
    width: 160px;
    margin-left: 10px;
    margin-right: 10px;
}

.consoles {
    text-align: center;
    font-size: xx-large;
}

.consolesSale img {
    height: 200px;
    width: 250px;
    margin-left: 15px;
    margin-right: 15px;
}

.shirtTitle {
    text-align: center;
    font-size: xx-large;
}

.shirtSale {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.shirtSale img {
    height: 200px;
    width: 200px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
}

.restockForm {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.itemSelect {
    margin-right: 35px;
}

.restockForm a {
    text-decoration: none;
    color: white;
    text-decoration: underline;
    margin-top: 20px;
}